/* html tags/default styles */
body {
color: #000;
background: #A8A99E;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #A8A99E 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #A8A99E 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #A8A99E 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A8A99E), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #A8A99E 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #A8A99E 0%, #FFFFFF 100%);

/* Other IE */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A99E', endColorstr='#FFFFFF');
zoom: 1;
}

a {
color: #000;
}

#video {
margin: 65px 0 0;
width: 452px;
}
	
#video img {
display: block;
}

footer {
border: 1px solid transparent; /* fix an ie issue */
padding-top: 100px;
width: 100%;
padding-bottom: 40px;
margin-bottom: 20px;
}

footer small {
display: block;
}

.price {
font-size: 20px;
}

.fivep {
background: #eee;
border-radius: 20px;
color: #666;
display: inline-block;
height: 30px;
text-align: center;
width: 30px;
}

/* Buttons (CSS3 used extensively here) */
.button {
background: #cc0033; /* Old browsers */
background: -moz-linear-gradient(top, #cc0033 0%, #990033 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0033), color-stop(100%,#990033)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cc0033 0%,#990033 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cc0033 0%,#990033 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cc0033 0%,#990033 100%); /* IE10+ */
background: linear-gradient(top, #cc0033 0%,#990033 100%); /* W3C */
border: 3px solid #903;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: relative;
color: #fff;
display: block;
font-size: 25px;
font-weight: bold;
height: 42px;
line-height: 42px;
text-align: center;
text-decoration: none;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
width: 190px;
}

.button:hover {
background: #990033; /* Old browsers */
background: -moz-linear-gradient(top, #990033 0%, #cc0033 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990033), color-stop(100%,#cc0033)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #990033 0%,#cc0033 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #990033 0%,#cc0033 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #990033 0%,#cc0033 100%); /* IE10+ */
background: linear-gradient(top, #990033 0%,#cc0033 100%); /* W3C */
}

.login {
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #999999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#999999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#999999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#999999 100%); /* IE10+ */
background: linear-gradient(top, #cccccc 0%,#999999 100%); /* W3C */
border: 1px solid #999;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
position: relative;
color: #000;
display: block;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
text-align: center;
text-decoration: none;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
width: 60px;
}

.login:hover {
background: #999999; /* Old browsers */
background: -moz-linear-gradient(top, #999999 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #999999 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #999999 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #999999 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(top, #999999 0%,#cccccc 100%); /* W3C */
}
	
.textburst {
float: left;
display: block;
height: 33px;
margin: 24px 10px 0;
overflow: hidden;
width: 135px;
}

.textburst a,
.textburst img {
  border: none;
}
	
.extra {
float: right;
margin: 18px 0 0;
width: auto;
}

.signup span {
padding-left: 60px;
font-size: 13px;
display: block;
margin-top: -13px;
}


.box {
margin-bottom: 20px;
}

.column {
float: left;
width: 44%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.right {
width: 44%;
float: right;
}

.intro,
.signup {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  position: relative;
  padding: 0;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 20px;
}

.intro h1,
.signup h1 {
  line-height: 40px;
  letter-spacing: -0.005em;
  padding: 20px;
  font-size: 36px;
  margin-bottom: -20px;
}

.intro p,
.signup p {
  padding: 20px;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}

.faqs {
  padding-bottom: -20px;
  background: #F3F2E8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.faqs h2 {
  color: #BC4163;
  padding: 20px;
}

.features p,
.features dd {
	line-height: 24px;
	padding: 10px;
	text-align: left;
}

.standout {
  background: #F3F2E8;
  padding: 20px;
}

.features h2,
.faqs h2 {
	font-size: 32px;
	color: #B10033;
	text-align: left;
}

.features dl {
  list-style-type: none;
  margin-left: 10px;
  margin-top: 10px;
}

.features dt,
.faqs h3 {
	font-weight: bold;
	color: #434343;
	font-size: 18px;
	display: block;
	text-align: left;
}

.features dd {
	padding-left: 30px;
	padding-right: 0;
	text-align: left;
}

.features dt a,
.features h3 a {
  font-weight: bold;
  color: #434343;
  text-decoration: underline;
}

.faqs h2,
.faqs h3 {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.faqs p {
  padding-left: 50px;
  padding-right: 30px;
  line-height: 24px;
}

.faqs h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.faqs h3 {
  padding-top: 10px;
}

strong {
  font-weight: bold;
}

footer {
  margin-top: -20px;
  margin-bottom: 20px;
}

.callout {
  float: right;
  width: 80px;
  height: 80px;
  background: #3A97C4;

  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
  text-align: center;
  color: white;
  display: inline-block;
}

.callout span.price {
  line-height: 60px;
  vertical-align: middle;
  margin-top: 20px;  
  font-size: 50px;
}

.callout span.meta {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: -5px;
}

.tick {
  margin-right: 6px;
}

footer {
  text-align: center;
}

p.highlight_text {
  color: #BC4163;
  font-size: 18px;
}

p.highlight_text a {
  color: #BC4163;
}

input, textarea {
  padding: 8px;
  font-size: 16px;
  width: 95%;
  max-width: 95%;
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

input.submit {
  background: #C03;
  background: -moz-linear-gradient(top, #C03 0%, #903 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C03), color-stop(100%,#903));
  background: -webkit-linear-gradient(top, #C03 0%,#903 100%);
  background: -o-linear-gradient(top, #C03 0%,#903 100%);
  background: -ms-linear-gradient(top, #C03 0%,#903 100%);
  background: linear-gradient(top, #C03 0%,#903 100%);
  border: 3px solid #903;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  color: white;
  display: block;
  font-size: 25px;
  font-weight: bold;
  height: 42px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  width: 190px;
  padding: 0;
}

.support_intro p {
  text-align: center;
}

.div.wpcf7-mail-sent-ok,
.wpcf7-response-output {
  border: none !important;
  color: green !important;
}

form p input.wpcf7-submit {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, #C03 0%, #903 100%);
  background-origin: padding-box;
  border-bottom-color: #903;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-color: #903;
  border-left-style: solid;
  border-left-width: 3px;
  border-right-color: #903;
  border-right-style: solid;
  border-right-width: 3px;
  border-top-color: #903;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-style: solid;
  border-top-width: 3px;
  color: white;
  cursor: auto;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 42px;
  line-height: 32px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.199219) 1px 1px 0px;
  width: 190px;
}
