/* html tags/default styles */
body {
background: #333 url(images/store.jpg) center top no-repeat;
color: #fff;
font: 16px/1.25 Arial, sans-serif;
}

a {
color: #fff;
text-decoration: underline;
}

h1, h2, h3, h4, p, ul, ol {
padding: 10px;
}

h1 {
line-height: 31px;
letter-spacing: -0.005em;
padding: 30px 10px 20px;
}

blockquote {
color: #fff;
float: right;
width: 355px;
}

blockquote p {
font-size: 27px;
font-style: italic;
padding: 10px 10px 0;
}
	
blockquote cite {
font-size: 14px;
display: block;
margin-top: 10px;
padding: 0 10px;
}
	
blockquote span {
background: #000;
background: rgba(0, 0, 0, 0.65);
padding: 2px 8px;
}

#video {
margin: 65px 0 0;
width: 452px;
}
	
#video img {
display: block;
}

footer {
padding-top: 160px;
width: 100%;
}

footer small {
display: block;
}

.price {
font-size: 20px;
}

.fivep {
background: #eee;
border-radius: 20px;
color: #666;
display: inline-block;
height: 30px;
text-align: center;
width: 30px;
}

/* Buttons (CSS3 used extensively here) */
.button {
background: #cc0033; /* Old browsers */
background: -moz-linear-gradient(top, #cc0033 0%, #990033 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0033), color-stop(100%,#990033)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cc0033 0%,#990033 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cc0033 0%,#990033 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cc0033 0%,#990033 100%); /* IE10+ */
background: linear-gradient(top, #cc0033 0%,#990033 100%); /* W3C */
border: 3px solid #903;
border-radius: 5px;
color: #fff;
display: block;
font-size: 25px;
font-weight: bold;
height: 42px;
line-height: 42px;
text-align: center;
text-decoration: none;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
width: 190px;
}

.button:hover {
background: #990033; /* Old browsers */
background: -moz-linear-gradient(top, #990033 0%, #cc0033 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990033), color-stop(100%,#cc0033)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #990033 0%,#cc0033 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #990033 0%,#cc0033 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #990033 0%,#cc0033 100%); /* IE10+ */
background: linear-gradient(top, #990033 0%,#cc0033 100%); /* W3C */
}

.login {
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #999999 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#999999)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#999999 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#999999 100%); /* IE10+ */
background: linear-gradient(top, #cccccc 0%,#999999 100%); /* W3C */
border: 1px solid #999;
border-radius: 3px;
color: #000;
display: block;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
text-align: center;
text-decoration: none;
text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
width: 60px;
}

.login:hover {
background: #999999; /* Old browsers */
background: -moz-linear-gradient(top, #999999 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #999999 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #999999 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #999999 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(top, #999999 0%,#cccccc 100%); /* W3C */
}
	
.textburst {
background: transparent;
float: left;
display: block;
height: 33px;
margin: 24px 10px 0;
overflow: hidden;
width: 135px;
}
	
.mediaburst {
float: left;
display: block;
height: 13px;
margin: 8px 0 0;
overflow: hidden;
text-indent: -99999px;
width: 95px;
}

.extra {
	float: right;
	margin: 0px;
	width: auto;
}

.signup span {
  padding-left: 60px;
  font-size: 13px;
  display: block;
  margin-top: -13px;
}


#content-container {
height: 930px;
}


#content {
background: #39c;
background: rgba(51, 153, 204, 0.95);
min-height: 400px;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
width: 447px;
padding-left: 15px;
}

ul li {
background: transparent url(images/ticks.png) 0 3px no-repeat;
list-style: none;
margin: 0 0 28px;
padding-left: 32px;
}

div.textburst a,
div.textburst img {
  border: none;
}
