/*
CSS Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4d3f23;
	background: #ffffff;
}

a:link, a:visited { color: #bb241d; text-decoration: none; font-weight: bold; } 
a:active, a:hover { color: #CC9900; text-decoration: none; }

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 {
	margin-right: 40px;
}
.margin_right_60 { margin-right: 60px; }

.fl { float: left; }
.fr { float: right }

.header_01 {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #bb241d;
	font-weight: bold;
}

.header_04 {
	font-size: 11px;
	color: #201d1d;
	font-weight: bold;
}

.header_02 {
	margin: 0 0 5px 0;
	font-size: 13px;
	color: #bb241d;
	font-weight: bold;
}

.header_02 a {
	margin: 0 0 5px 0;
	font-size: 13px;
	color: #bb241d;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header_wrapper {
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_header_repeat.jpg) repeat-x;
}

#templatemo_header {
	width: 970px;
	height: 200px;
	margin: 0 auto;
    background: url(images/templatemo_header_bg.jpg) no-repeat;
}

#templatemo_header #title {
	float: left;
	margin: 100px 0 0 40px;
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 5px;
}

#templatemo_header #title span {
	display: block;
	margin: 10px 0 0 5px;
	font-size: 14px;
	color: #201d1d;
	font-weight: bold;
	letter-spacing: 5px;
}

#templatemo_header #twitter  {
	float: right;
	width: 250px;
	height: 70px;
	margin: 80px 10px 0 0;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
}


#templatemo_menu_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_menu_bg.jpg) repeat-x;
}

#templatemo_menu {
    width: 970px;
	height: 45px;
	margin: 0 auto;	
	background: url(images/templatemo_menu_bg.jpg) repeat-x;
}

#templatemo_menu ul {
	float: left;
	margin: 0px;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_menu ul li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	position: relative;
	float: left;
	display: inline-block;
	height: 33px;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	outline: none;
	padding-top: 12px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	position: relative;
	color: #ffffff;
	background: url(images/templatemo_menu_right.jpg) top right no-repeat;
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span	{
	position: absolute;
	display: inline-block;
	width: 11px;
	height: 45px;
	top: 0;
	left: 0;
	background: url(images/templatemo_menu_left.jpg) no-repeat;
}

#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/tb-bg-page.gif) ;
}

#templatemo_content {
    width: 920px;
	margin: 0 auto;	
	padding: 0 10px 0 40px;
}

.em_text {
	color: #000000;
}

.section_w620 {
	padding-top: 50px;
	width: 620px;
	background-color:#FFF;
}

.section_w620 p {
	text-align: justify;
	margin-bottom: 10px;
}

.section_w250 {
	padding-top: 20px;	
	width: 250px;
	background: #e8e8e8;
}

.section_w250 .w250_content {
	padding: 0 20px;
}

.section_w250_without_padding {
	width: 250px;
}

.section_320 {
	width: 320px;
}

.section_w250_title {
	display: block;
	width: 230px;
	height: 30px;
	padding: 40px 0 0 20px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
}

.testimonial_title {
	background: url(images/tempalatemo_testimonial_title.jpg) no-repeat;
}
.testimonial_title2 {
	background: url(images/tempalatemo_testimonial_title2.jpg) no-repeat;
}
.testimonial_title3 {
	background: url(images/tempalatemo_testimonial_title3.jpg) no-repeat;
}
.testimonial_title4 {
	background: url(images/tempalatemo_testimonial_title4.jpg) no-repeat;
}
.testimonial_title5 {
	background: url(images/tempalatemo_testimonial_title5.jpg) no-repeat;
}
.testimonial_title6 {
	background: url(images/tempalatemo_testimonial_title6.jpg) no-repeat;
}
.testimonial_title7 {
	background: url(images/tempalatemo_testimonial_title7.jpg) no-repeat;
}

.research_title {
	background: url(images/templatemo_research_title.jpg) no-repeat;
}

.newsletter_title { 
	background: url(images/templatemo_newsletter_title.jpg) no-repeat;
}

.business_news_title { 
	background: url(images/templatemo_b_news_title.jpg) no-repeat;
}

.news_title { 
	background: url(images/templatemo_news_title.jpg) no-repeat;
}

.image_wrapper_01 {
	width: 242px;
	height: 120px;
	margin: 0 0 5px 0;
	padding: 6px;
	background: #201d1d;
}

.image_wrapper_01 img {
	width: 240px;
	height: 118px;
	border: 1px solid #666;
}

.list_01 {
	margin: 20px 0 10px 30px;
	padding: 0px;
	list-style: decimal;
}

.list_01 li {
	padding: 0px;
	margin: 0 0 5px 0;
	color: #bb241d;
}

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #211d1c url(images/templatemo_footer.jpg) repeat-x;
	border-top: 5px solid #696463;
}

#templatemo_footer {
    width: 950px;
	margin: 0 auto;	
	padding: 30px 10px;
	text-align: center;
	color: #ffffff;
}

#templatemo_footer a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
.home.page.page-id-33.page-template-default.single-author.singular.two-column.right-sidebar #container .group .column.extra.navigation a {
}
.home.page.page-id-33.page-template-default.single-author.singular.two-column.right-sidebar #container .group .column.extra.navigation a {
	text-align: justify;
}
