html{overflow-y:scroll}body{background:#fff url(../images/tb-bg-page.gif) repeat scroll top left;font:14px/1.4 Arial,Helvetica,sans-serif;color:#333;max-width:1270px;min-width:1000px;margin:0 auto}h1{padding-top:20px}div,form{margin:0;padding:0}a{color:#c03}a:hover{text-decoration:none}#wrapper{margin:35px;padding:0;background-color:#f6f6f6;-moz-border-radius:10px;-webkit-border-radius:10px;border:10px solid #e6e6e6;border-radius:10px}#loggedout{width:680px;margin:0 auto}#loggedout-content{background-color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;margin:80px auto;width:680px;float:left;border:10px solid #efefef}#loggedout-content .column{float:left;width:300px;margin:20px 0;min-height:325px;padding:0 20px}#loggedout-content .column-two{border-left:1px solid #e5e5e5;width:299px}#loggedout-content h1{font-size:20px;padding:16px 0 0 0;margin:0;font-weight:normal}#loggedout-content h2{
	font-size: 18px;
	padding: 16px 0 10px 0;
	margin: 0;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #F00;
}#loggedout-content fieldset{padding:60px 0 0}#loggedout-content .field{width:100%;float:left;padding:0 0 10px;clear:both;margin:0}#loggedout-content div.field span.info{margin-left:85px;width:210px}#loggedout-content div.field span.error{margin-left:85px;width:210px}#loggedout-content label{float:left;margin:4px 15px 0 0;width:70px}#loggedout-content input{color:#666;display:inline;font-size:16px;padding:2px 4px;width:200px}#loggedout-content input.button{width:auto;margin:15px 0 0 85px;padding:2px 15px}#loggedout-content fieldset a{float:right;display:block;margin-top:80px}#loggedout-content .blurb{background:url("../images/tb-bg-red.gif") repeat scroll 0 0 #c03;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;color:#fff;padding:0 0 20px;position:relative;text-shadow:1px 1px 0 rgba(0,0,0,.2);width:299px;float:left}#loggedout-content .blurb h2{
	margin: 0;
	padding: 20px 20px 0;
	font-size: 28px;
	font-weight: normal;
	color: #FFF;
}#loggedout-content .blurb h3{margin:0;padding:20px 20px 0;font-size:20px;font-weight:normal}#loggedout-content .blurb p{margin:0;padding:0 20px 10px;text-shadow:none}#loggedout-content .blurb em{font-style:italic}#loggedout-content .blurb span{background:url("../images/birds-speech.gif") no-repeat scroll 0 0 transparent;bottom:-130px;content:"";display:block;height:130px;left:0;position:absolute;width:158px}#loggedout-content p.success,#loggedout-content p.error,#loggedout-content p.info{margin-top:-55px}#loggedout-content p.success a,#loggedout-content p.error a,#loggedout-content p.info a{display:inline;float:none;margin:0}#productmenu{position:absolute;top:0;left:0;height:30px;width:100%;background:#666;color:#fff;padding-left:55px;text-transform:lowercase}#productmenu ul{font-size:1.2em;display:block;float:left;width:100%}#productmenu li{display:block;float:left;margin:0;padding:2px 10px}#productmenu li a{color:#ccc;text-decoration:none}#productmenu li.selected a{color:#fff}#header{background:#fff}#header .name{font-size:40px;padding-left:15px;color:#936;text-transform:lowercase;font-weight:bold;letter-spacing:-3px;float:left}#outheader h1{font-size:40px;color:#936;text-transform:lowercase;font-weight:bold;letter-spacing:-3px;text-align:center;width:100%;margin-bottom:5px;margin-top:0}#colorBox{}#cboxContent{background:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border:10px solid #e6e6e6}#cboxLoadedContent>div{padding:10px 10px 10px 10px}#cboxLoadingOverlay{background:#fff url(../scripts/colorbox/images/loading.gif) no-repeat 5px 5px}#cboxClose{position:absolute;top:5px;right:30px;display:block;color:#444;background:#fff;border-radius:5px;padding:2px 5px}
